.Form {
  position: absolute;
  top: 10vh;
  left: 1rem;
  right: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 950px) {
  .Form {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    width: 30rem;
  }
}
