.h2 {
  color: hsl(213, 96%, 18%);
  margin-bottom: 0;
}
.p {
  color: hsl(231, 11%, 63%);
}
.button {
  display: none;
}
.add-ons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
